# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
local.properties
*.iml
.externalNativeBuild/
.cxx/
captures/
output.json

# IDE
.idea/
*.ipr
*.iws

# Keystore
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db

# Logs
*.log
